  
body {
  background-image: url("img/opinions.jpg") !important;
  background-size: 100%;
}

.navbar {

  background-color: #002550 !important;
  }

.nav-link, .nav-link-active {
  color: white !important;
  text-align: center !important;
}

.nav-item { 
  text-align: center !important; 
}
